<h3>Controls</h3>
<p>Press <span class="key">SPACE</span> to fly higher.<br />
Use your <span class="key">&larr;</span> <span class="key">&uarr;</span> <span class="key">&darr;</span> <span class="key">&rarr;</span> keys to navigate your spaceship.<br />
Use <span class="key">A</span> and <span class="key">D</span> to rotate your gun (counter-)clockwise.<br />
Use <span class="key">ENTER</span> to fire projectiles.</p>
<p><strong>Press <span class="key">SPACE</span> now to start the game!</strong></p>