#overlay {
	font-family: Armata, Arial, sans-serif;
	color: #fff;
	line-height:28px;

	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;

	margin: -250px 0 0 -350px;

	text-align: center;
	background-color: rgba(255, 255, 255, .3);
	padding: 50px;

	border-radius:10px;
}

#overlay #select-desktop {
	float: left;
}

#overlay #select-desktop > img {
	position: absolute;
	top: 50%;
	width: 270px;
	height: 128px;
	margin: -64px 0 0 0px;
}

#overlay #select-mobile {
	float: right;
	top: 50%;
}
#overlay #select-mobile > img {
	width: 159px;
	height: 300px;
}

#overlay h3 {
	font-size:30px;
}

#overlay .key {
	border: 1px solid #fff;
	border-bottom-width:2px;
	border-radius:3px;

	box-shadow:0px 1px 3px rgba(0, 0, 0, .5);

	background: rgba(255, 255, 255, .2);

	padding:0 3px;
	margin:3px;

	min-width:20px;
	min-height:20px;

	display:inline-block;
	font-weight:normal;

}
